<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CardeeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.preview.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreviewTheme" />
        <activity
            android:name=".auth.login.view.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".auth.register.view.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".auth.pass_recover.send_email.SendEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".auth.pass_recover.change.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="password"
                    android:pathPrefix="/reset"
                    android:scheme="cardee" />
            </intent-filter>
        </activity>
        <activity android:name=".owner_home.view.OwnerHomeActivity" />
        <activity android:name=".owner_car_details.view.OwnerCarDetailsActivity" />
        <activity android:name=".owner_car_details.view.CarDetailsEditActivity" />
        <activity android:name=".owner_car_add.view.NewCarFormsActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".owner_car_details.view.AvailabilityCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner_car_add.view.CarAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <service android:name=".owner_car_details.service.FetchAddressService" />

        <activity
            android:name=".owner_profile_info.view.OwnerProfileInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner_account_details.view.AccountDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner_change_pass.view.ChangePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner_settings.view.OwnerSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".owner_notifications.view.OwnerNotifActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatAlertDialogTheme" />
        <activity
            android:name=".owner_cardee.view.OwnerCardeeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".renter_home.view.RenterHomeActivity" />
    </application>

</manifest>